<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Contacts 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact List</ion-title>
    </ion-toolbar>
  </ion-header>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
 <div class="main">
  
    <div id="first">
        <img src="https://scontent.fceb2-2.fna.fbcdn.net/v/t1.0-1/p200x200/156184910_767136494224333_493034491853340464_o.jpg?_nc_cat=104&ccb=1-3&_nc_sid=7206a8&_nc_eui2=AeH6rWO91VRIYmfgdTSChBuq67GAjP9st7jrsYCM_2y3uA0VKwCrpBDXBrQlZdck5qz4uQtirxrq6IGrlv2wpca7&_nc_ohc=2zfYh4Eku-QAX8xm1H4&_nc_ht=scontent.fceb2-2.fna&tp=6&oh=823fdb7993738f813639fdf887c56f27&oe=6078D13D" id="img1">
        <h2>Ryan Dauplo</h2>
        <h2>Contact # 09095672348</h2>
            <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(538) 718-7548"></span>      
            <span class="visible-xs"> <span class="text-muted">7396 E North St</span><br/></span>               
            <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="seth.frazier@example.com"></span>
                                </div>
    <div id="second">
      <img src="https://scontent.fceb2-2.fna.fbcdn.net/v/t1.0-9/139569118_837408203707381_7726067428046222758_o.jpg?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeGYACURHUs7bAd5E-UPArveQ77jbamRRLBDvuNtqZFEsCv_LS9c4UOY4S1zVicMf8nAYaAH7lT4DsXPgXcbgHmx&_nc_ohc=xof2Stfi5A0AX_OKAAp&_nc_ht=scontent.fceb2-2.fna&oh=3237b87c20caa6ddedbdd027f89f7282&oe=60766A61" id="img2">
      <h2>Arlie Dabilbil</h2>
      <h2>Contact # 09631866459</h2>
      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                               <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(538) 718-7548"></span>                     
  
    </div>
    <div id="third">
      <img src="https://scontent.fceb2-2.fna.fbcdn.net/v/t1.0-9/84172323_204988703977877_3459991379818577920_o.jpg?_nc_cat=107&ccb=1-3&_nc_sid=19026a&_nc_eui2=AeFUzSdfWyshEE2flH-QJYKrJ2I2He5cKAgnYjYd7lwoCCXAZluDA2SSiGY1efKLyy2hhZCumMo1ITGCxTROfAE3&_nc_ohc=Ol3DAKJvqC4AX-3qSla&_nc_ht=scontent.fceb2-2.fna&oh=6d5baaf1ad0fcb151cc18fd978b1a327&oe=6076FCDC" id="img3">
      <h2>Arnulfo Dabilbil</h2>
      <h2>Contact # 09093452134</h2>
      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                               <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(538) 718-7548"></span>                     
  
    </div>
    <div id="fourth">
      <img src="https://scontent.fceb2-1.fna.fbcdn.net/v/t1.0-9/154758180_1712272685611359_3808904458700587057_o.jpg?_nc_cat=101&ccb=1-3&_nc_sid=09cbfe&_nc_eui2=AeEsu0ytZJOF-oApLY9Hv3E7yitVpWN8wfjKK1WlY3zB-GU3CVU5nkzQli2M73Na8BBphv1iqyJHTaWfE_n40s3Z&_nc_ohc=I7w6r9y_-vMAX8sgX_N&_nc_ht=scontent.fceb2-1.fna&oh=edab98feeadd3bc8dcd2b308fd5c9b5f&oe=60770625" id="img4">
      <h2>Contact # Jessica Acerden</h2>
      <h2>09553768574</h2>
      <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5020 Poplar Dr"></span>
                               <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(538) 718-7548"></span>                     
  
    </div>
    
</div>
</ion-content>

