.message{
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}
.mymsg{
    background-color: rgb(204, 43, 91);
    color:white;
    font-family: Comic sans Ms;
}
.MsgBox{
    border-radius: 15px;
    border-style: solid;
    color: black;
    width: 100%;
    height: 50px;
    background: palevioletred ;
    font-family: Comic Sans MS;
}